# Git
.git
.gitignore

# Node
node_modules
/packages/api/node_modules
/packages/web/node_modules
npm-debug.log

# Docker
.dockerignore
Dockerfile*
docker-compose.yml

# IDE/Editor specific
.idea
.vscode

# OS specific
.DS_Store

# Build output
dist
coverage
